header {
  background-color: #E9EAEC;
  border-bottom: 1px solid #d4d4d4;
  height: 60px;
}

.logo {
  display: inline-block;
  font-size: 25px;
  position: relative;
  bottom: 17px;
}
.post {
  display: inline-block;
  position: relative;
  font-size: 20px;
  bottom: 15px;
}
.add {
  font-size: 20px;
  position: relative;
  top: 4px;
  left: 5px;
}
.sortBy{
  display: inline-block;
  width: 100px;
  position: relative;
  bottom: 8px;
  font-size: 20px;
  background-color: transparent;
  border: none;
}
.searchDiv {
  font-size: 20px;
  position: relative;
  bottom: 9px;
  background-color: white;
  height: 45px;
  border-radius: 5px;
  width: 100px;
}

.subgreenit{
  height: 300px;
}
