body {
  background-image: url('./img/light_grey_@2X.jpg');
}

header {
  margin-bottom: 30px;
  background-color: #E9EAEC;
  border-bottom: 1px solid #d4d4d4;
  height: 60px;
}
nav {
  background-color: #009688;
  padding: 0px 10px 0px 10px;
}
a{
  color: black;
}
.postDiv {
  height: 250px;
}
.photoDiv {
  height: 100%;
}
.sortBy{
  position: relative;
  bottom: 8px;
  font-size: 20px;
  background-color: transparent;
  border: none;
}
.commentsDiv {
  height: 30px;
}
.photo {
  width: 100%;
  height: auto;
}
.positive {
  color: green
}
.negative {
  color: red
}
.invalid {
  border: 1px solid red;
}
.add{
  position: relative;
  bottom: 1px;
  margin-right: 2px !important;
}
.add:hover {
  transform: rotate(360deg);
}
.rotate {
  transition: all 0.5s ease-in-out;
}
.rotate:hover {
  transition: all 0.5s ease-in-out;
}
#search {
  position: relative;
  top: 11px;
  height: 40px;
  width: 150px;
  border-radius: 5px;
}
